$blue: #0c1544;
$magenta: #cc91c9;
$orange: #fd7c00;
$yellow: #f4f700;
$green: #74ffc7;
$grey-text: #7694a7;

$dark-blue: #080d29;
$dark-magenta: #bb0d3f;

$light-blue: #9799b3;

//New colors
$yellow-light-NEW: #FFD68A;
$yellow-NEW: #FFC963;
$yellow-dark-NEW: #F7C567;
$almost-white: #FCFCFC;
$bluish-grey: #B7BED4;
$black: black;
$light-grey: #F2F2F2;
$light-grey-background: #F8F8F8;
$light-blue-NEW: #7398BF;
$green-NEW: #C5F699;
$grey-unselected-text: #E6E6E6;
$blue-NEW: #425DD1;
$green-skill-background: #f2fdc2;//#F6FFCD;
$green-skill-text: #98E654;
$green-timeline: #C5F699;
$green-console-btn: #6cd2a9;
$blue-map-dot: #7b8ab7;
$green-home-dot: #6dc797;

.magenta-text{
  color: $magenta;
}

.yellow-text{
  color: $yellow-NEW;
}

$almost-black: #1f2a35;
