$blue: #0c1544;
$magenta: #f70047;
$orange: #fd7c00;
$yellow: #f4f700;
$green: #00f791;
$grey-text: #575757;

$dark-blue: #080d29;
$dark-magenta: #bb0d3f;

$light-blue: #9799b3;

.magenta-text{
  color: $magenta;
}

$almost-black: #101010;
