.contact-card{
  text-align: center;
  margin-top: 10rem;
  .content-box {
    background: white;
    display: inline-block;
    box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.39);
    .container {
      display: flex;
      .details {
        padding: 3rem;
        text-align: left;
        font-weight: 100;
        .detail {
          margin-bottom: 0.8rem;
          .icon {
            display: inline-block;
            margin-right: 1rem;
            font-size: 1.3rem;
            color: #586c94;
          }
        }
      }
      .icons {
        background-color: #f54c46;
        font-size: 3rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .link{
          cursor: pointer;
          color: white !important;
        }
      }
    }
  }
}
