.edu-item{
  .edu-title{
    font-size: 1.2rem;
    color: #647692;
    margin-top: 0.25rem;
  }
  .program{
    font-size: 1.2rem;
    color: #647692;
  }
  .school{
    color: #647692;
    font-weight: 100;
  }
  ul{
    padding-left: 2rem;
    color: #3a3a3a;
    font-weight: 100;
  }
}
