.section{
  min-height: 30rem;
  position: relative;
  .title{
    display: inline-block;
    padding: 1rem;
    margin-top: 2rem;
    margin-right: auto;
    color: white;
    font-size: 2rem;
  }
  .section-body{
    margin: 7rem auto 0 auto;
    position: relative;
    top: -6.6rem;
    max-width: 1500px;
  }
}
