.thesis-item{
  display: flex;
  margin: 1rem 0;
  align-items: center;
  .title{
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 0 1rem;
    .grade{
      color: #757575;
      font-weight: 100;
    }
    a{
      color: #757575;
    }
  }
  .description{
    flex-shrink: 1;
    flex-basis: 15%;
    margin: 0 1rem;
    text-align: end;
    .year{
      font-weight: 500;
      color: #647692;
      font-size: 1.1rem;
    }
    .credits{
      color: #757575;
      font-weight: 100;
    }
  }
}
