.time-line {
  position: relative;
  margin: 0 auto;
  @media (max-width: $md-size){
    max-width: 700px;
  }
  .flex-and-wrap{
    display: flex;
    flex-wrap: wrap;
  }
  .line-dot{
    height: 0.8rem;
    width: 0.8rem;
    background-color: #ff8250;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $md-size) {
      left: 0;
    }
  }
  .end-dot{
    bottom: 0;
  }
  .start-dot{
    top: 0;
  }
  .line{
    height: 100%;
    width: 4px;
    background-color: #ff8250;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    @media (max-width: $md-size) {
      left: 0;
    }
  }
}
