.work-item{
  .company{
    color: #647692;
    font-weight: 100;
  }
  .work-title{
    font-size: 1.2rem;
    color: #647692;
    margin: 0.25rem 0;
  }
  .work-description{
    color: #757575;
    font-weight: 100;
  }
  .wrapper{
    margin: 1rem 0 0 0;
    .rateless-skill{
      display: inline-block;
      padding: 0.2rem 0.3rem;
      margin: 0.2rem 0.2rem;
      background: #ffb650;
      color: white;
      border-radius: 2px;
      box-shadow: inset 1px 1px 1px 1px #e4982d;
    }
  }
}
