.work-history{
  .pie-chart{
    text-align: center;
    .recharts-wrapper{
      @media (max-width: $sm-size) {
        font-size: 0.8rem;
      }
      display: inline-block;
    }
    .description{
      color: white;
    }
  }
}
