.contacts{
  background: $dark-blue;
  text-align: center;
  padding: 4rem 0;
  .title{
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    font-family: 'Amatica SC', sans-serif;
  }
}
