.description {
  font-family: $font-open-sans;
  font-size: $font-size-Default;
  font-weight: $font-weight-light;
  line-height: $base-size;

  max-width: 540px;

  p {
    margin-top: 0;
    margin-bottom: $base-size*2;
  }
}
