.edu-item{
  .edu-title{
    color: $black;
    font-family: $font-lato;
    font-size: $font-size-Large;

    margin-top: $base-size/2;
  }
  .program{
    margin-top: 0;
    margin-bottom: $base-size/2;
  }
  .school{
    color: $black;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: $font-size-XLarge;
    font-family: $font-lato;

    margin: $base-size/2 0 $base-size/2 0;
  }
  .description{
    color: $black;
    font-family: $font-open-sans;
    font-weight: $font-weight-light;
    font-size: $font-size-Default;
    line-height: 2.5rem;
  }
}
