.header{
  height: 100vh;
  min-height: 885px;

  .header-content {
    width: 100%;
    overflow: hidden;
    position: relative;
    top: 0;
    min-height: 775px;
    height: calc(100vh - #{$nav-bar-height} - #{$base-size});
    margin-bottom: $base-size;

    display: flex;
    align-items: stretch;

    .left-side-wrapper {
      display: flex;
      .titles {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: $base-size;

        position: relative;
        overflow: hidden;

        .palms-container {
          max-width: 100%;
          overflow: hidden;
          height: 100%;
          display: flex;
          justify-content: flex-end;

          .palms {
            height: 100%;
          }
        }

        .corner {
          position: absolute;

          height: 85px;
          width: 85px;

          &.top {
            top: 0;
            left: 0;
            border-left: 7px solid $green-NEW;
            border-top: 7px solid $green-NEW;
          }

          &.bottom {
            bottom: 0;
            right: 0;
            border-right: 7px solid $green-NEW;
            border-bottom: 7px solid $green-NEW;
          }
        }
      }
      .content-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        font-family: $font-lato;
        font-weight: $font-weight-light;
        .name-titles {
          margin: $base-size*2;
          .title {
            font-size: 20px;
            color: white;

            @media (max-width: $xs-size) {
              font-size: 1.5rem;
            }
          }
          .name {
            font-size: 40px;
          }
        }
      }
    }
    .header-introduction {
      display: flex;
      align-items: flex-start;
      flex-grow: 1;
      justify-content: center;
    }
  }
  @media (max-width: $breakpoint-small-window){
    height: initial;
    min-height: initial;
    margin-bottom: -8rem;

    .header-content {
      flex-wrap: wrap;
      height: initial;
      margin-bottom: 0;

      .left-side-wrapper {
        width: 100%;
        height: calc(100vh - #{$nav-bar-height} - #{$base-size});
        .titles {
          flex-grow: 1;
          margin-right: $base-size*2;
          .palms-container .palms {
            width: 100%;
          }
        }
      }
      .header-introduction {
        display: none;
      }
    }
  }
  @media (max-width: $breakpoint-mobile){
    .header-content {
      .left-side-wrapper {
        .titles {
          margin-right: 0;

          .palms-container {
            .palms {
              width: auto;
            }
          }
        }
      }
    }
  }
};
