$header-hight: 70px;

.home{
  .home-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $header-hight;

    .title {
      color: $black;
      font-size: $font-size-XXLarge;
      font-family: $font-lato;
      font-weight: $font-weight-light;
      text-transform: uppercase;

      margin-left: $base-size;
    }

    .language-selector-small {
      left: initial;
      position: relative;
      white-space: nowrap;
    }
  }

  .content-wrapper {
    display: flex;
    height: calc(100vh - #{$header-hight});
    overflow: hidden;

    padding: 0 $base-size $base-size*2 $base-size;

    .ui-header {
      flex: 0 1 auto;
      width: 50%;

      margin-right: $base-size/4;

      transition: width 0.5s ease-out;

      background-color: black;
      background-image: url("../../assets/palms_large.jpg");

      background-size: cover;
      background-position: 75% top;
      overflow: hidden;
      top: 0;
      position: relative;
      .overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(13, 11, 48, 0.55);
        z-index: 0;
      }

      &:hover {
        width: 60%;
      }
    }
    .console-header {
      flex: 0 1 auto;
      width: 50%;

      margin-left: $base-size/4;

      transition: width 0.5s ease-out;

      background: $almost-black;
      position: relative;
      .cursor {
        font-size: 3rem;
        padding: $base-size/2 $base-size;
        color: $green;
        .blinking-underline {
          animation: blinker 1.5s steps(1, start) infinite;
        }
      }

      &:hover {
        width: 60%;
      }

      @-webkit-keyframes blinker {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
    }
    .choose-btn {
      position: absolute;
      color: white;
      top: 50%;

      transform: translate(-50%, -50%);
      text-align: center;
      padding: $base-size/2;
      width: 18rem;

      font-size: $font-size-Large;
      cursor: pointer;
      text-decoration: none;
      left: 50%;

      text-transform: uppercase;

      &.ui-btn {
        background: $blue-NEW;

        font-family: $font-lato;
        font-weight: $font-weight-light;

        &:hover {
          background: darken($blue-NEW, 5%);
        }
      }
      &.console-btn {
        background: $green-console-btn;
        font-family: $font-space;
        &:hover {
          background: darken($green-console-btn, 10%);
        }
      }
    }
    .cv-link {
      position: absolute;
      color: $black;
      bottom: 10px;
      text-decoration: none;
      padding: 0.5rem 0.5rem;
      cursor: pointer;
      font-weight: $font-weight-light;
    }

    @media (max-width: $sm-size) {
      flex-direction: column;

      .ui-header {
        width: 100%;
        height: 50%;
        transition: height 0.5s ease-out;

        margin-right: 0;
        margin-bottom: $base-size/4;

        &:hover {
          height: 60%;
          width: 100%;
        }
      }
      .console-header {
        width: 100%;
        height: 50%;
        transition: height 0.5s ease-out;

        margin-left: 0;
        margin-top: $base-size/4;

        &:hover {
          height: 60%;
          width: 100%;
        }
      }
    }
  }
  @media (max-width: $sm-size) {
    .home-header {
      .title {
        font-size: $font-size-Large;
      }
      .language-selector-small {
        .lang {
          font-size: $font-size-Small;
        }
      }
    }
  }
}
