.home{
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  @media (max-width: $sm-size){
    flex-direction: column;
  }
  .ui-header{
    flex: 0 1 50%;
    background-color: black;
    background-image: url("../../assets/palms.jpg");

    background-size: cover;
    background-position: right;
    overflow: hidden;
    top: 0;
    position: relative;
    .overlay{
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(13, 11, 48, 0.55);
      z-index: 0;
    }
  }
  .console-header{
    flex: 0 1 50%;
    background: $almost-black;
    position: relative;
    .cursor{
      font-size: 3rem;
      padding: $base-size/2 $base-size;
      color: $green;
      .blinking-underline{
        animation: blinker 1.5s steps(1, start) infinite;
      }
    }
    @-webkit-keyframes blinker {
      0% { opacity: 1; }
      50% { opacity: 1; }
      100% { opacity: 0; }
    }
  }
  .title{
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, 0);

    color: white;
    font-size: 5rem;
    font-family: $font-lato;
    font-weight: $font-weight-light;
    text-transform: uppercase;

    padding-bottom: $base-size;

    width: 100%;
    text-align: center;

    @media (max-width: $sm-size){
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
    }
  }
  .choose-btn{
    position: absolute;
    color: white;
    top: 55%;
    @media (max-width: $sm-size){
      top: 50%;
    }

    transform: translate(-50%, 0);
    text-align: center;
    padding: $base-size/2;
    width: 18rem;

    font-size: $font-size-Large;
    cursor: pointer;
    text-decoration: none;
    left: 50%;

    text-transform: uppercase;

    &.ui-btn{
      background: $blue-NEW;

      font-family: $font-lato;
      font-weight: $font-weight-light;

      &:hover{
        background: darken($blue-NEW, 5%);
      }
    }
    &.console-btn{
      background: $green-console-btn;
      font-family: $font-space;
      &:hover{
        background: darken($green-console-btn, 5%);
      }
    }
  }
  .cv-link{
    position: absolute;
    color: white;
    bottom: 0;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    cursor: pointer;
  }
}
