.hover-bubble {
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);

  padding: $base-size/4 $base-size/2;
  border-radius: 3px;

  background: white;
  color: $black;
  white-space: nowrap;
  font-family: $font-open-sans;
  font-size: $font-size-Default;
  font-weight: $font-weight-light;

  display: none;

  .arrow {
    position: absolute;
    top: -5px;
    left: 50%;
    z-index: 0;

    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    transform:  translateX(-50%);
    border-bottom: 5px solid white;
  }
}
