.icon-button {
  height: 30px;
  width: 30px;
  padding: 0 3*$base-size/4;

  border: 2px solid $blue-NEW;
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: $font-size-XLarge;
  color: $blue-NEW;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    background: $blue-hover-btn;
  }

  .material-icons {
    font-size: $font-size-XLarge;
  }
}
