$image-size: 115px;

.introduction{
  position: relative;

  margin: 2*$base-size $base-size*2 2*$base-size $base-size;

  .summary {
    .summary-title {
      display: inline-block;

      font-family: $font-quicksand;
      color: $blue-NEW;
      font-weight: $font-weight-medium;
      font-size: $font-size-Large;

      margin: $base-size 0;
      padding-right: $base-size*2;

      border-bottom: 2px solid $blue-NEW;
    }
    .summary-text {
      font-family: $font-open-sans;
      font-weight: $font-weight-light;
      line-height: $font-size-Default*2;
      margin-bottom: $base-size;
    }
    .summary-btn {
      font-family: $font-lato;
      font-size: $font-size-Default;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      color: $blue-NEW;
      background: white;

      border: 2px solid  $blue-NEW;
      padding: $base-size/2 $base-size;

      user-select: none;

      cursor: pointer;

      &:hover {
        background: $blue-NEW;
        color: white;
      }
    }
   }
  .image-wrapper {
    padding: 10px;

    .own-image {
      background-image: url("../../assets/me_2_0_black.png");
      width: $image-size;
      height: $image-size;
      border-radius: 50%;
      background-size: contain;

    }
  }
}
