.language-selector-small{
  position: absolute;
  top: 0;
  left: 0;
  color: $grey-unselected-text;
  z-index: 2;

  font-family: $font-lato;
  font-weight: $font-weight-regular;

  .lang{
    display: inline-block;
    margin: $base-size;
    cursor: pointer;

    &:first-of-type {
      padding-right: $base-size;
      margin-right: 0;
      border-right: 1px solid $grey-unselected-text;
    }

    &.selected{
      color: $black;
    }
  }
}
