.language-selector{
  width: $lang-selection-width;
  flex-shrink: 0;

  color: $grey-unselected-text;

  font-family: $font-lato;
  font-weight: $font-weight-regular;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lang{
    height: 150px;

    cursor: pointer;

    position: relative;

    display: flex;
    width: 100%;

    &:not(:first-of-type):before {
      content: "";
      height: 1px;
      width: 15px;
      background: $black;
      margin: 0 auto;
    }

    &.selected{
      color: $black;
    }

    .text-wrapper {
      white-space: nowrap;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
      top: 50%;
    }
  }
}
