.project{
  flex: 0 0 50%;
  .project-wrapper {
    max-width: 500px;

    margin-right: $base-size;
    margin-bottom: $base-size;

    position: relative;
    overflow: hidden;

    .project-image {
      background-size: cover;
      height: 300px;
    }

    .project-name {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin: $base-size 0;

      text-transform: uppercase;
      font-family: $font-quicksand;
      font-weight: $font-weight-regular;
      font-size: $font-size-XXLarge;
      color: $black;

      .icons {
        display: flex;
        margin-left: $base-size/2;
        a:first-child {
          margin-right: $base-size/4;
        }
      }
    }

    .project-description {
      text-align: justify;
      font-size: $font-size-Default;
      font-family: $font-open-sans;
      font-weight: $font-weight-light;
      color: $black;
      line-height: $base-size;
    }
    .project-skills {
      flex-shrink: 0;
      flex-grow: 1;

      margin-top: $base-size/2;

      display: flex;
      flex-wrap: wrap;
      align-content: flex-end;
    }
  }
  @media (max-width: $breakpoint-mobile){
    flex: 0 0 100%;
    .project-wrapper {
      margin: 0;
      margin-right: $base-size/2;
      margin-bottom: $base-size;
      padding: 0;
      .corner {
        display: none;
      }
    }
  }
}
