.section{
  position: relative;
  margin: 4rem 2rem;
  max-width: 2000px;
  @media (min-width: $lg-size){
    margin: 4rem auto;
  }
  .title{
    margin: $base-size 0;
    color: $black;
    font-size: $font-size-XLarge;

    text-transform: uppercase;
    font-family: $font-lato;
    font-weight: $font-weight-light;
  }
  .section-body{
    position: relative;
    margin-left: 10%;
    max-width: 1400px;
    @media (min-width: $lg-size){
      margin: 0 auto;
    }
    @media (max-width: $xs-size){
      margin-left: 0;
    }
  }
}
