.section{
  position: relative;
  margin: 18rem 2rem;
  margin-left: 150px;

  max-width: 2000px;

  .title{
    margin: 0;
    color: $light-grey;
    font-size: 80px;

    text-transform: uppercase;
    font-family: $font-lato;
    font-weight: $font-weight-regular;

    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 100%;
    transform-origin: top right;
    transform: rotate(-90deg) translateY(-100%);

  }
  .section-body{
    position: relative;
    margin-left: 10%;
    max-width: 1200px;
  }

  @media (max-width: $breakpoint-mobile){
    margin: 10rem 0;
    margin-left: $base-size*3;
    margin-right: $base-size/2;
    .title {
      font-size: 40px;
      padding-bottom: 3*$base-size/4;
    }
    .section-body {
      margin: 0;
    }
  }
}
