.skill-meter{
  position: relative;
  margin-bottom: $base-size*2;

  display: flex;
  align-items: stretch;

  .icon{
    flex-shrink: 0;

    height: 60px;
    width: 60px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: $xs-size){

    }
  }
  .skill-bar-wrapper {
    flex-grow: 1;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-left: $base-size/2;

    .skill-name {
      font-family: $font-quicksand;
      font-weight: $font-weight-medium;
    }

    .skill-rate {
      position: absolute;
      padding-left: 5px;
      padding-top: 1px;

      font-family: $font-lato;
      font-weight: $font-weight-light;
      font-size: $font-size-XXXSmall;
      color: $grey-text;
    }

    .skill-bar {
      position: relative;
      width: 100%;

      height: 15px;
      border-radius: 15px;

      background: $light-grey-background;

      overflow: hidden;

      .fill {
        height: 100%;
        animation-delay: 0.5s;
        transform: translate3d(-100%, 0, 0);
      }
    }
  }
}
