.skills{
  .rated-skills {
    display: flex;
    flex-wrap: wrap;

    .skill-column {
      flex: 1 0 33%;

      padding-right: $base-size;
    }
    .rateless-skills {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }
  }
  @media (max-width: $breakpoint-mobile){
    .rated-skills {
      .skill-column {
        flex: 1 0 100%;
        justify-content: center;
      }
    }
  }
}
