.skills{
  .rated-skills {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $md-size) {
      margin-top: 4rem;
    }
    .skill-column {
      flex: 1 0 33%;

      padding-right: $base-size;

      @media (max-width: $md-size) {
        margin-left: -80px;
        flex: 1 0 100%;
        justify-content: center;
      }

      @media (max-width: $xs-size){
        margin-left: 0;
      }
    }
    .rateless-skills {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      @media (max-width: $xs-size){
      }
    }
  }
}
