.skill{
  display: inline-block;
  padding: $base-size/8 $base-size/2;
  margin: $base-size/8;

  border-radius: 30px;

  background: $green-skill-background;

  color: $green-skill-text;
  font-family: $font-lato;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  font-size: $font-size-XSmall;
}
