.work-item{
  .company{
    color: $grey-text;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: 0.3rem 0 1rem 0;
  }
  .work-title{
    font-size: 1.2rem;
    color: $grey-text;
    margin: 0.25rem 0;
  }
  .work-description{
    color: $grey-text;
    font-weight: 300;
    font-size: 1.1rem;
  }
  .wrapper{
    margin: 1rem 0 0 0;
    .rateless-skill{
      display: inline-block;
      padding: 0.2rem 0.3rem;
      margin: 0.2rem 0.2rem;
      background: $magenta;
      color: white;
      border-radius: 2px;
      border-bottom: 3px solid $dark-magenta;
    }
  }
}
