.work-item{
  .company{
    color: $black;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: $font-size-XLarge;
    font-family: $font-lato;

    margin: $base-size/2 0 $base-size/2 0;
  }
  .work-title{
    color: $black;
    font-family: $font-lato;
    font-size: $font-size-Large;

    margin: 3*$base-size/4 0;
  }
  .work-description{
    color: $black;
    font-family: $font-open-sans;
    font-weight: $font-weight-light;
    font-size: $font-size-Default;
    line-height: 2.5rem;
  }
  .wrapper{
    margin-top: $base-size;

    display: flex;
    flex-wrap: wrap;

    &.left {
      justify-content: flex-end;

      @media (max-width: $md-size) {
        justify-content: flex-start;
      }
    }
  }
}
