.asciifont{
  font-size: 1.2rem;
  @media (max-width: $md-size){
    font-size: 1.1rem;
  }
  @media (max-width: $sm-size){
    font-size: 1.0rem;
  }
  @media (max-width: $xs-size){
    font-size: 0.6rem;
  }
}
