.console-site-wrapper {
  background: $almost-black;
  min-height: 100vh;

  .console-site {
    max-width: 1200px;

    color: $green;
    font-family: $font-space;
    padding: 2rem 1rem;
    padding-bottom: 2rem;

    font-size: $font-size-Default;

    @media (max-width: $md-size) {
      font-size: 1.1rem;
    }
    @media (max-width: $sm-size) {
      font-size: 1.0rem;
    }
    @media (max-width: $xs-size) {
      font-size: 0.8rem;
    }
    ::selection {
      background: $green;
      color: white;
    }

    ::-moz-selection {
      background: $green;
      color: white;
    }
    .rateless-skills {
      display: flex;
      margin: 1rem 0;
      flex-wrap: wrap;
      .rateless-skill {
        color: white;
        margin-right: 1rem;
        .line {
          color: $magenta;
        }
      }
    }
  }
}
