.console-edu-item{
  margin: 0.5rem 0;
  .dates{
    margin: 0.5rem 0;
  }
  .edu-title{
    color: $magenta;
  }
  .school{
    color: white;
  }
  .description{
    margin: 1rem 0;
    color: $grey-text;
  }
}
