.map-container {
  font-size: 7px;
  font-family: Consolas, monospace;

  @media (max-width: $breakpoint-small-window){
    font-size: 6px;
  }

  @media (max-width: 925px){
    font-size: 5px;
  }

  @media (max-width: 800px){
    font-size: 7px;
  }

  @media (max-width: 550px){
    font-size: 6px;
  }

  @media (max-width: 500px){
    font-size: 5px;
  }

  @media (max-width: 400px){
    font-size: 4px;
  }

  color: $grey-text;
  .highlight{
    color: $magenta;
    font-weight: bold;
    animation: blinker 1.5s steps(1, start) infinite;
  }
  @-webkit-keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }
}
