.console-project{
  .project-name{
    color: white;
    margin: 1rem 0;
  }
  .skill-title{
    margin-top: 1rem;
    color: $green;
  }
  .link-title{
    color: $green;
    margin-bottom: 1rem;
  }
  .project-description{
    margin-bottom: 1rem;
    color: $grey-text;
  }
  .links{
    a{
      color: $magenta;
    }
  }
}
