.console-work-item{
  .dates{
    margin: 0.5rem 0;
  }
  .company{
    text-transform: uppercase;
    color: white;
  }
  .work-title{
    margin: 1rem 0;
    color: $magenta;
  }
  .work-description {
    color: $grey-text;
  }
}
